.container-1 {
    border: 1px solid black;
    padding: 8px;
    align-items: center;
    margin: auto;
    width: 505;
}

.container-2 {
    border: 1px solid black;
    padding: 8px;
    align-items: center;
    margin: auto;
    width: 505;
    margin-top: 50px;
}

.containerchild {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images {
    width: 120px;
    height: 120px;
    margin-right: 18px;
    margin-left: 18px;

}

.images:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}